body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    41deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(24, 24, 24, 1) 50%,
    rgba(27, 27, 27, 1) 100%
  );
}
.cursor {
  cursor: url(./assets/arrow.png), auto;
  width: 100vw;
  height: 100vh;
}
.cursor_none {
  cursor: none;
}
* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.1s;
}

.loaded {
  background: black;
  transition: 0.1s;
}

.loading_text {
  font-size: 26pt;
  color: white;
}
