body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    41deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(24, 24, 24, 1) 50%,
    rgba(27, 27, 27, 1) 100%
  );
}

* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
